{% extends "base.html" %}

<title>{% block title %}Blog App | Blog Title{% endblock %}</title>

{% block body %}
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Blog App</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="{{ url_for('profile') }}">PROFILE</a></li>
              <li><a href="{{ url_for('blog') }}">BLOG</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="container banner">
    <div class="row">
      <div class="col-sm-3 d-none d-sm-block">
        <img src="/static/{{results.photo}}" class="img-responsive img-rounded">
      </div>
      <div class="col-sm-9">
          <h2>{{ results.blog_title }}</h2>
          <p>
            {{ results.about_blog }}
          </p>
        </div>
      </div>
    </div>
    <div class="container content">
      <div class="row">
        <div class="col-sm-8 post">
          {% for post in posts %}
          <div class="blog-post">
            <a name="{{ post.id }}"></a>
            <h3>{{ post.post_title }}</h3>
            <h4>{{ post.post_date }}</h4>
            <p>
              {{ post.post }}
            </p>
          </div>
          {% endfor %}
        </div>
        <div class="col-sm-4 archive">
          {% for post in posts %}
          <div class="archive-post">
            <a href="#{{ post.id }}"><h4>{{ post.post_title }}<h4></a>
            <p>{{ post.post_date }}</p>
            <p id="archive-post">{{ post.post }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}
