{% extends "base.html" %}

<title>{% block title %}Blog App | Blog Title{% endblock %}</title>

{% block body %}
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Blog App</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="{{ url_for('profile') }}">PROFILE</a></li>
              <li><a href="{{ url_for('blog') }}">BLOG</a></li>
              <li><a href="#">SETTINGS</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="container banner">
    <div class="container content">
      <div class="row">
        <div class="col-md-8 post">
          <form method='POST' action="{{ url_for('update') }}">
            <div class="form-group">
              <input type='hidden' name='blog_id' value='{{ results.blog_id }}'>
              <input type='hidden' name='post_id' value='{{ results.id}}'>
              <label for="title">Title:</label><br>
              <input class="form-control" type="text" name="title" value='{{ results.post_title }}'><br>
              <label for="date">Date:</label><br>
              <input class="form-control" type="text" name="date" value='{{ results.post_date }}'><br>
              <label for="blog-post">Blog Post:</label><br>
              <input type='hidden' name='edit'>
              <textarea class="form-control" cols=100 rows=10 name="blog-post">{{ results.post }}</textarea>
              <button type="submit" class="btn btn-post">POST</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
