{% extends "base.html" %}

<title>{% block title %}Blog App | Settings{% endblock %}</title>

{% block body %}
<div class="container">
  <div class="row">
    <nav class="navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('index') }}">Blog App</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
<div class="container settings">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form method="POST" action="{{ url_for('index') }}">
        <div class="form-group">
          <label for="first-name">First Name:</label><br>
          <input class="form-control" type="text" name="first-name"><br>
          <label for="last-name">Last Name:</label><br>
          <input class="form-control" type="text" name="last-name"><br>
          <label for="photo">Photo file path:</label><br>
          <input class="form-control" type="text" name="photo"><br>
          <label for="title">Blog Title:</label><br>
          <input class="form-control" type="text" name="title"><br>
          <label for="about">About This Blog:</label><br>
          <textarea class="form-control" col=100 rows=10 name="about"></textarea><br>
          <button type="submit" class="btn btn-submit">SUBMIT</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
