{% extends "base.html" %}

<title>{% block title %}Blog App | Blog Title{% endblock %}</title>

{% block body %}
<div class="container">
  <div class="row">
    <nav class="navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Blog App</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('profile') }}">PROFILE</a></li>
            <li><a href="{{ url_for('blog') }}">BLOG</a></li>
            <li><a href="#">SETTINGS</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

<div class="container banner">
  <div class="row">
    <div class="col-md-3 hidden-sm hidden-xs">
      <img src="/static/img/{{results.photo}}" class="img-responsive img-rounded">
    </div>
    <div class="col-md-9">
      <h2>{{ results.blog_title }}</h2>
      <p>
        {{ results.about_blog }}
      </p>
    </div>
  </div>
</div>

<div class="container content">

  <div class="row">

    <div class="col-md-8 post">
      <form method='POST' action="{{ url_for('profile') }}">
        <div class="form-group">
          <input type='hidden' name='blog_id' value='{{ results.id }}'>
          <label for="title">Title:</label><br>
          <input class="form-control" type="text" name="title"><br>
          <label for="blog-post">Blog Post:</label><br>
          <textarea class="form-control" cols=100 rows=10 name="blog-post"></textarea>
          <button type="submit" class="btn btn-post">POST</button>
        </div>
      </form>

      {% for post in posts %}
      <div class="blog-post">
        <form action="{{ url_for('edit') }}" method='POST'>
          <a name="{{ post.id }}"></a>
          <input type="hidden" name="post_id" value="{{ post.id }}">
          <input type="hidden" name="blog_id" value="{{ post.blog_id }}">
          <h3>{{ post.post_title }}</h3>
          <h4>{{ post.post_date }}</h4>
          <p>
            {{ post.post }}
          </p>
          <div class="container update-btns">
            <div class='row'>
              <div class='col-md-1'>
                <button type="submit" class="btn btn-edit">edit</button>
              </div>
        </form>
              <div class='col-md-1'>
                <form method='POST' action="{{ url_for('update') }}">
                  <input type='hidden' name='post_id' value="{{ post.id }}">
                  <button type="submit" class="btn btn-delete">delete</button>
                </form>
              </div>
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-md-4 archive">
      {% for post in posts %}
      <div class="archive-post">
        <a href="#{{ post.id }}"><h4>{{ post.post_title }}<h4></a>
        <p>{{ post.post_date }}</p>
        <p id="archive-post">{{ post.post }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
