body {
  background-color: #3983a0;
  color: #dcc8c8;
  font-family: sans-serif;
}

.navbar {
  background-color: #3983a0;
}

.nav a {
  background-color: #3983a0;
  color: #dcc8c8;
}

.btn {
  color: #fff;
  background-color: #f79307;
  border-color: #eea236;
}

.navbar-brand {
  font-size: 25px;
  color: #dcc8c8;
  text-shadow: 2px 2px #524f4f;
}

.btn-post {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form {
  background-color: #e4e3df;
  color: black;
  margin-top: 100px;
  width: 400px;
  border-radius: 5px;
  padding-left: 40px;
}

.form input {
  width: 50%;
}

.form h1 {
  margin-bottom: 40px;
  margin-top: 40px;
}

.banner {
  margin-top: 75px;
  margin-bottom: 50px;
  line-height: 150%;
  font-size: 18px;
}

.banner h2 {
  margin-top: -4px;
}

.blog-post {
  background-color: #e0dfd5;
  color: black;
  padding: 30px 30px 30px 30px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 10px solid grey;
}

.blog-post h4 {
  padding-top: 5px;
  padding-bottom: 15px;
}

.blog-post .btn-edit {
  margin-top: 20px;
}

.blog-post p {
  line-height: 150%
}

.archive a {
  color: #dcc8c8;
}

.archive p {
  font-size: 14px;
}

#archive-post {
  height:60px;
  line-height:20px;
  overflow:hidden;
}

.archive-post {
  border-bottom: 1px solid black;
}

.settings {
  margin-top: 100px;
}

.btn-delete {
  background-color: red;
  margin-top: 20px;
}
